In [3]:
import pandas as pd

In [4]:
df = pd.read_csv("vine_table_pg.csv")
df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,R2MTG1GCZLR2DK,5.0,0.0,0.0,N,Y
1,R2HBOEM8LE9928,5.0,0.0,0.0,N,Y
2,R1P4RW1R9FDPEE,5.0,1.0,1.0,N,Y
3,R1EBPM82ENI67M,1.0,0.0,0.0,N,Y
4,R372S58V6D11AT,5.0,1.0,1.0,N,Y

In [5]:
rev_20_df = df.loc[df["total_votes"] >= 20]
rev_20_df.tail()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
3093833,R31POKKHZJR1J4,1.0,14.0,20.0,N,N
3093836,R1OW3E5V6HIYLS,1.0,11.0,25.0,N,N
3093840,R3J9P4PR6DO9GG,2.0,57.0,61.0,N,N
3093855,R1I08KZLK0QW0Z,1.0,8.0,29.0,N,N
3093858,R1V3AL4M2F1N38,5.0,62.0,64.0,N,N

In [6]:
helpful_votes = rev_20_df.loc[(rev_20_df["helpful_votes"]/rev_20_df["total_votes"]) >= 0.5]
helpful_votes.tail()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
3093818,R3W0YWD1IOO939,2.0,163.0,172.0,N,N
3093823,R2LRFNGMSLKT6Z,5.0,22.0,23.0,N,N
3093833,R31POKKHZJR1J4,1.0,14.0,20.0,N,N
3093840,R3J9P4PR6DO9GG,2.0,57.0,61.0,N,N
3093858,R1V3AL4M2F1N38,5.0,62.0,64.0,N,N

In [7]:
vine_df = helpful_votes.loc[helpful_votes["vine"] == "Y"]
vine_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
1932,R184FOUNZZ7KO8,5.0,15.0,20.0,Y,N
4661,R82QWN2X2OCHB,5.0,176.0,208.0,Y,N
11745,R1UYHBYE6790BU,5.0,44.0,53.0,Y,N
17013,R2J3YLX1L4EH2B,5.0,299.0,321.0,Y,N
28097,R3QDI539WTXKE2,5.0,26.0,32.0,Y,N

In [8]:
no_vine_df = helpful_votes.loc[helpful_votes["vine"] == "N"]
no_vine_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
41,R1FBO737KD9F2N,5.0,19.0,23.0,N,Y
145,R227GSNWI6BSZV,1.0,20.0,20.0,N,Y
304,R3SJTYZBYBG4EE,4.0,99.0,99.0,N,Y
419,R248FG65D76D5Y,1.0,42.0,53.0,N,Y
500,R3B6BXFKGW52SG,1.0,32.0,32.0,N,Y

In [11]:
five_star_vote_count = len(helpful_votes.loc[helpful_votes["star_rating"] >= 5].index)
five_star_vine_vote_count = len(vine_df.loc[vine_df["star_rating"] >= 5].index)
five_star_not_vine_vote_count = len(no_vine_df.loc[no_vine_df["star_rating"] >= 5].index)

print("Total Number of Reviews: ", len(helpful_votes.index))
print("Total Number of 5 Star Reviews: ", five_star_vote_count)
print("Total Number of Vine Reviews: ", len(vine_df.index))
print("Total Number of Vine 5 Star Reviews: ", five_star_vine_vote_count)
print("Total Number of Nonvine Reviews: ", len(no_vine_df.index))
print("Total Number of Nonvine 5 Star Reviews: ", five_star_not_vine_vote_count)
print("Percent Vine 5 Star Reviews: ", round(((five_star_vine_vote_count / len(vine_df.index)) * 100), 2), "%")
print("Percent Nonvine 5 Star Reviews: ", round(((five_star_not_vine_vote_count / len(no_vine_df.index))* 100),2), "%")

Total Number of Reviews:  50753
Total Number of 5 Star Reviews:  23497
Total Number of Vine Reviews:  1080
Total Number of Vine 5 Star Reviews:  454
Total Number of Nonvine Reviews:  49673
Total Number of Nonvine 5 Star Reviews:  23043
Percent Vine 5 Star Reviews:  42.04 %
Percent Nonvine 5 Star Reviews:  46.39 %